{% extends 'PI_4sems/base.html' %}
{% load static %}

{% block content %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa</title>
    <link rel="stylesheet" href="{% static 'mapa.css' %}">
</head>
<body>
    <div class="info-sala">    
        <p>Localização do(a): {{ sala }}</p>
    </div>
    <div class="image-container">
        <img src="{% static sala_mapa %}" alt="Imagem">
    </div>

    <a href="{% url 'telaprincipal' %}" class="back-button">Voltar</a>
</body>
</html>
 
{% endblock content %}
