{% extends 'PI_4sems/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Principal DSM</title>
    <link rel="stylesheet" href="{% static 'telaprincipal_style.css' %}">
</head>
<body>

    <header>
        <img src="/static/logo_preto.png" class="logo">
        <h1>DESENVOLVIMENTO DE SOFTWARE MULTIPLATAFORMA</h1>
    </header>

    <div class="info-box">
        <div class="date-time-container">
            <div class="date-time-item">Segunda-feira</div>
            <div class="date-time-item">25/03/2024</div>
            <div class="date-time-item">19:30:25</div>
        </div>
        <h2>Matéria: Estatística Aplicada</h2>
        <h2>Professor: Fidelis</h2>
        <h2>Sala: 5</h2>
        <div class="button-container">
            <a href="{% url 'grade_curricular' %}" class="button">Grade Curricular</a>
            <a href="{% url 'mapa' %}" class="button">Como chegar?</a>
        </div>
    </div>

    <div class="background-image">
        <div class="background-overlay"></div>
    </div>

    <a href="{% url 'index' %}" class="back-button">Pesquisar novamente</a>
    
</body>
</html>


{% endblock content %}