{% extends 'PI_4sems/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Principal DSM</title>
    <link rel="stylesheet" href="{% static 'telaprincipal_style.css' %}">
</head>
<body>

    <header>
        <img src="/static/logo_preto.png" class="logo">
        <h1>{{tasks_curso.materia}}</h1>
    </header>

    <div class="info-box">
        <div class="date-time-container">
            <div class="date-time-item"> {{ dia }}</div>
            <div class="date-time-item"> {{ data }}</div>
            <div class="date-time-item"> {{ hora }} </div>
        </div>
        
        <h2>Matéria: {{tasks_curso.materia}} </h2>
        <h2>Professor: {{tasks_curso.professor}} </h2>
        <h2>Sala: {{tasks_curso.sala}}</h2>
        <div class="button-container">
            <form action="{% url 'grade_curricular' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="curso" value="{{ tasks_curso.curso }}">
                <input type="hidden" name="semestre" value="{{ tasks_curso.semestre }}">
                <button type="submit" class="button">Grade Curricular</button>
                
            </form>
            <form action="{% url 'mapa' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="curso" value="{{ tasks_curso.curso }}">
                <input type="hidden" name="semestre" value="{{ tasks_curso.semestre }}">
                
                <button type="submit" class="button">Como chegar?</button>
            </form>
            
        </div>
    </div>

    <div class="background-image">
        <div class="background-overlay"></div>
    </div>

    <a href="{% url 'index' %}" class="back-button">Pesquisar novamente</a>
    
</body>
</html>


{% endblock content %}