@font-face {
    font-family: 'Calibri';
    src: url('caminho/para/Calibri.ttf') format('truetype');
}

* {
    font-family: 'Calibri', sans-serif !important;
    margin: 0;
    padding: 0;
}

.info-sala {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 196, 0);
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    font-weight: bold;
    font-size: large;
}

.info-sala .logo {
    max-height: 100px; /* Altura máxima do logo, ajuste conforme necessário */
    margin-right: 10px; /* Espaçamento à direita do logo, se desejado */
}




.image-container {
    margin-top: 60px; /* Adiciona um espaço entre o cabeçalho e a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px); /* Garante que a imagem ocupe todo o espaço restante */
}

.image-container img {
    max-width: 90%; /* Reduz o tamanho da imagem */
    max-height: 90%; /* Reduz o tamanho da imagem */
    object-fit: contain; /* Mantém a proporção da imagem */
}

.back-button {
    position: fixed;
    font-weight: bold;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(255, 196, 0);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    text-decoration: none; /* Remove o sublinhado do link */
    display: inline-block; /* Permite o padding ser aplicado ao link */
}

.back-button:hover {
    background-color: rgb(63, 126, 63);
    color: white;
}

/* Media Queries para responsividade */

@media (max-width: 768px) {
    .info-sala {
        font-size: medium;
        padding: 8px;
    }

    .back-button {
        font-size: 18px;
        padding: 8px 16px;
    }

    .image-container {
        margin-top: 50px;
        height: calc(100% - 50px);
    }
}

@media (max-width: 480px) {
    .info-sala {
        font-size: small;
        padding: 6px;
    }

    .back-button {
        font-size: 16px;
        padding: 6px 12px;
    }

    .image-container {
        margin-top: 40px;
        height: calc(100% - 40px);
    }
}

@media (max-width: 320px) {
    .info-sala {
        font-size: x-small;
        padding: 4px;
    }

    .back-button {
        font-size: 14px;
        padding: 4px 8px;
    }

    .image-container {
        margin-top: 30px;
        height: calc(100% - 30px);
    }
}
